body {
    overflow: hidden;
  }
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

  }

.innerContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
  .NavBar {
    background-color: #555555;
    height: 60px;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
    z-index: 20;
  }
  
  .navbar-logo {
    width: 62px; 
    height: auto;
    z-index: -1;
  }
  .radius-section2{
    color: white;
  }
  