@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Raleway&display=swap');



.navbar2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 50;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-left2 {
  text-align: center;
}

.company-title2 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
}

.navbar-center2 {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 20px; /* Added gap to reduce the excess space between title and search bar */
}


.navbar-right2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  margin-right: 36px; 
}


.nav-actions2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.action-btn2 {
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.action-btn2:hover {
  background-color: #fff;
  color: #4a90e2;
}

.active2 {
  background-color: #fff;
  color: #4a90e2;
}

.action-dropdown2 {
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color:#4a90e2;
}
.action-dropdown2:hover{
  background-color: #fff;
  color: #4a90e2;
}

.radius-section2 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
}

.radius-label2 {
  font-weight: bold;
  min-width: 50px; 
  text-align: right; 
}

.radius-value2 {
  font-size: 1.1rem;
  min-width: 120px; 
  text-align: left; 
}

.radius-slider2 {
  width: 150px;
  accent-color: #fff;
}

.metre-squared{
  font-size: 1rem; 
}

.radius-slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
}



